      <div class="row-fluid">
        <div class="span9">
         
            <h1>{{ListHeader}}</h1>
            <div class="row-fluid">
                
           <div class="span4" ng-repeat="product in ListOfProducts">
              <h2>{{product.Name}}</h2>
              <p>{{product.Description}}</p>
              <p>
                  <a class="btn btn-danger" href="#" ng-click="DeleteProduct(product.Id)" >Delete</a>
              </p>
            </div><!--/span-->
                
                
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->